#root {
  width: 500px;
  margin: 50px auto;
  text-align: center;
}

button {
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 20px;
}

ul {
  width: fit-content;
  margin: auto;
  text-align: left;
}
