<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>signup</title>
    </head>

    <body>
        <h1>hello murad</h1>
        <form action="{% url 'app1:check_users' %}" method="post">
            {%csrf_token%}
            <label for="firstname">firstname </label>
            <input type="text" name="firstname">

            <label for="lastname">lastname </label>
            <input type="text" name="lastname">

            <label for="email">email </label>
            <input type="email" name="email">

            <label for="password">password </label>
            <input type="password" name="password">

            <button type="submit">sign up</button>

        </form>
    </body>
</html>