<!DOCTYPE html>
<html>
	<head>
		<title>Sports ORM II</title>
	</head>
	<body>
		<h1>Sports ORM II</h1>

		<h2>1. All teams in the Atlantic Soccer Conference</h2>
		{% for team in q1 %}
		<p>{{ team.location }} {{ team.team_name }}</p>
		{% endfor %}

		<h2>2. All current players on the Boston Penguins</h2>
		{% for player in q2 %}
		<p>{{ player.first_name }} {{ player.last_name }}</p>
		{% endfor %}

		<h2>3. All current players in the International Collegiate Baseball
			Conference</h2>
		{% for player in q3 %}
		<p>{{ player.first_name }} {{ player.last_name }}</p>
		{% endfor %}

		<h2>4. All current players in American Conference of Amateur Football with
			last name Lopez</h2>
		{% for player in q4 %}
		<p>{{ player.first_name }} {{ player.last_name }}</p>
		{% endfor %}

		<h2>5. All football players</h2>
		{% for player in q5 %}
		<p>{{ player.first_name }} {{ player.last_name }}</p>
		{% endfor %}

		<h2>6. All teams with a current player named Sophia</h2>
		{% for team in q6 %}
		<p>{{ team.location }} {{ team.team_name }}</p>
		{% endfor %}

		<h2>7. All leagues with a current player named Sophia</h2>
		{% for league in q7 %}
		<p>{{ league.name }}</p>
		{% endfor %}

		<h2>8. Everyone with last name Flores who does not currently play for
			Washington Roughriders</h2>
		{% for player in q8 %}
		<p>{{ player.first_name }} {{ player.last_name }}</p>
		{% endfor %}

		<h2>9. All teams Samuel Evans has played with</h2>
		{% for team in q9 %}
		<p>{{ team.location }} {{ team.team_name }}</p>
		{% endfor %}

		<h2>10. All players who have played with the Manitoba Tiger-Cats</h2>
		{% for player in q10 %}
		<p>{{ player.first_name }} {{ player.last_name }}</p>
		{% endfor %}

		<h2>11. Players formerly with Wichita Vikings but not currently</h2>
		{% for player in q11 %}
		<p>{{ player.first_name }} {{ player.last_name }}</p>
		{% endfor %}

		<h2>12. Every team Jacob Gray played for before Oregon Colts</h2>
		{% for team in q12 %}
		<p>{{ team.location }} {{ team.team_name }}</p>
		{% endfor %}

		<h2>13. Everyone named Joshua who played in Atlantic Federation of Amateur
			Baseball Players</h2>
		{% for player in q13 %}
		<p>{{ player.first_name }} {{ player.last_name }}</p>
		{% endfor %}

		<h2>14. All teams that have had 12 or more players</h2>
		{% for team in q14 %}
		<p>{{ team.location }} {{ team.team_name }} - {{ team.num_players }}</p>
		{% endfor %}

		<h2>15. All players and count of teams played for</h2>
		{% for player in q15 %}
		<p>{{ player.first_name }} {{ player.last_name }} - {{ player.num_teams }}</p>
		{% endfor %}
	</body>
</html>