/* 1️ h1 → Web-safe + fallback */
h1 {
  font-family: Arial, Verdana, sans-serif;
}

/* 2️ Custom Font */
@font-face {
  font-family: "MyFont";
  src: url("MyFont.woff2");
}

/* use custom font */
h2 {
  font-family: "MyFont", serif;
}

/* 3️ Google Font */
p {
  font-family: "Poppins", sans-serif;
}